<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻中心列表</title>
    <meta name="keywords" content="融鑫源（北京）文化科技有限公司">
    <meta name="author" content="融鑫源">
    <meta name="copyright" content="融鑫源">
    <meta name="date" content="2018年1月">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=1440">
    <link rel="icon" href="/image/ronxinyuan.ico">
    <link rel="stylesheet" href="/css/layui.css"  media="all">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="index_menu" id="menu"></div>
<div class="coent">
    <div style="width: auto;height: 350px;">
        <img src="/image/index/ab1.jpg">
    </div>
    <div class="content_">
        <span class="content_item1"><b>新闻中心</b></span> <span class="content_item2" ><span class="content_item2_item">当前位置</span>：主页 > 新闻中心 ></span>
        <br/><br/>
        <hr class="layui-bg-gray">
        <br/>
        <ul id="biuuu_city_list" style="height: 200px;"></ul>
        <div id="page" class="content_page"></div>
    </div>
</div>
<div style="height: 200px;"></div>
<div class="footer_new" id="footer"></div>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/layui.js" charset="utf-8"></script>
<script>
    $(document).ready(function(){
        $('#footer').load('/footer.html');
        $('#menu').load('/menu.html');
    })
</script>
<script>
    //测试数据
    var datas="";
    $.get("/news/queryAll",function(data,status){
        //alert(data);
        if(status == "success"){
            datas= data;
            //调用分页
            layui.use(['laypage', 'layer'], function() {
                var laypage = layui.laypage
                    , layer = layui.layer;
                laypage.render({
                    elem: 'page'
                    , count: datas.length
                    ,limit:5
                    , jump: function (obj) {
                        //模拟渲染
                        document.getElementById('biuuu_city_list').innerHTML = function () {
                            var arr = [];
                            //thisData = datas.concat().splice(obj.curr * obj.limit - obj.limit, obj.limit);
                            layui.each(datas, function (index, item) {
                                if(obj.curr*obj.limit-obj.limit<=index && index< obj.curr * obj.limit){
                                    arr.push('<li style="margin-top: 5px;"><a target="view_window" href="'+item.newsUrl+'?id='+item.id+'" class="content_title">' + item.newsName + '</a><span class="content_time">('+ item.newsTime +')</span></li>');
                                }
                            });
                            return arr.join('');
                        }();
                    }
                });
            });
        }
    });
</script>
</body>
</html>