<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>招募诚聘</title>
    <meta name="keywords" content="融鑫源（北京）文化科技有限公司">
    <meta name="author" content="融鑫源">
    <meta name="copyright" content="融鑫源">
    <meta name="date" content="2018年1月">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=1440">
    <link rel="icon" href="/image/ronxinyuan.ico">
    <link rel="stylesheet" href="/css/layui.css"  media="all">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="index_menu" id="menu"></div>
<div class="coent">
    <div style="width: auto;height: 350px;">
        <img src="/image/index/ab1.jpg">
    </div>
    <div class="content_">
        <span class="content_item1"><b>招募诚聘</b></span> <span class="content_item2"><span class="content_item2_item">当前位置</span>：主页 > 招募诚聘 ></span>
        <br/><br/>
        <hr class="layui-bg-gray">
        <br/>
        <div>
            <img src="/image/recreit/recreits1.jpg" height="100%">
            <div style="float: left;width: 50%;">
                <ul>
                    <li class="recreits_li">
                        <div class="recreits_li_div">
                            <span class="recreits_li_span">01</span>
                        </div>
                        <div style="margin-left: 20px;margin-right: 5px;">
                            <em style="font-size: 23px;height:50px;line-height: 50px;">市场部营销中心</em><br/>
                            <sapn>●要求：大专及以上学历，45岁以下，2年以上营销管理经验，具备良好的沟通协调及领导能力，能适应经常出差者（有路演和主持经验者优先）。</sapn>
                        </div>
                    </li>
                    <li class="recreits_li">
                        <div class="recreits_li_div">
                            <span class="recreits_li_span">02</span>
                        </div>
                        <div style="margin-left: 10px;margin-right: 10px;">
                            <em style="font-size: 23px;height:50px;line-height: 50px;">公司副总经理</em><br/>
                            <sapn>●要求：大专以上学历，投资、金融、企业管理、经济学相关专业，50岁以下，二年以上企业管理销售工作经验，良好的沟 通能力和书面表达能力。投融资、资本运作，企业商业运作战略制定与实施，具备很强的宏观分析能力和产业研究能力。（从事环保、自然保护和节能专业者优先）</sapn>
                        </div>
                    </li>
                    <li class="recreits_liUnborder">
                        <div class="recreits_li_div">
                            <span class="recreits_li_span">03</span>
                        </div>
                        <div style="margin-left: 10px;margin-right: 10px;">
                            <em style="font-size: 23px;height:50px;line-height: 50px;">行政中心人力资源部</em><br/>
                            <sapn>● 行政经理：要求：男性， 45岁以下，大专以上学历，三年以上相关管理工作经 验，
                                （文秘、  中文、公关、行政管理等相关专业懂英语或，中级以上职称者优先）
                                <br/>●行政人员：要求：经济、管理、外文类专业本科以上，CET-6，35岁以下，二年以上工作经验，英文听、说、读、写俱佳，品德端正，较强的沟通协调及写作能力，形象好。</sapn>
                        </div>
                    </li>
                </ul>
                <div style="margin-top: 260px;"><img src="/image/recreit/recreits3.jpg"></div>
            </div>
            <div style="float: right;width: 50%;">
                <img src="/image/recreit/recreits5.jpg">
                <ul style="margin-top: 130px;">
                    <li class="recreits_li">
                        <div class="recreits_li_div">
                            <span class="recreits_li_span">04</span>
                        </div>
                        <div style="margin-left: 20px;margin-right: 5px;">
                            <em style="font-size: 23px;height:50px;line-height: 50px;">公司文秘</em><br/>
                            <sapn>●要求：大专及以上学历，45岁以下，2年以上营销管理经验，具备良好的沟通协调及领导能力，能适应经常出差者（有路演和主持经验者优先）。</sapn>
                        </div>
                    </li>
                    <li class="recreits_li">
                        <div class="recreits_li_div">
                            <span class="recreits_li_span">05</span>
                        </div>
                        <div style="margin-left: 10px;margin-right: 10px;">
                            <em style="font-size: 23px;height:50px;line-height: 50px;">文化科技发展部经理</em><br/>
                            <sapn>●要求：大专以上学历， 50岁以下，三年以上大企业管理工作经验，良好的沟通能力和书面表达能力。
                                <br/>（投融资、资本运作，企业商业运作战略制定与实施，具备很强的宏观分析能力和产业研究能力。从事环保、自然保护和节能专业者优先）</sapn>
                        </div>
                    </li>
                    <li class="recreits_liUnborder">
                        <div class="recreits_li_div">
                            <span class="recreits_li_span">06</span>
                        </div>
                        <div style="margin-left: 10px;margin-right: 10px;">
                            <em style="font-size: 23px;height:50px;line-height: 50px;">市场拓展部</em><br/>
                            <sapn>●要求：大专及以上学历，45岁以下，相关专业（市场营销专业、），5年以上酒饮料食品类市场、2年以上营销管理经验，具备良好的沟通协调及领导能力。
                                <br/>（产品包装设计和营销经验，有路演和主持经验者优先）</sapn>
                        </div>
                    </li>
                </ul>
                <div style="margin-top: 60px;"><img src="/image/recreit/recreits4.jpg"></div>
            </div>
            <br/>
            <img src="/image/recreit/recreits2.jpg" height="100%">
        </div>
    </div>
</div>
<div style="height: 50px;"></div>
<div class="footer_new" id="footer"></div>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#footer').load('/footer.html');
        $('#menu').load('/menu.html');
    })
</script>
</body>
</html>