
/* 以下 关于我们、最新动态、联系我们*/
.content{ width:auto; height:240px; margin-top: 10px; margin:0 auto; overflow:hidden;}
.about{ width:27%; height:230px; float:left;}
.about h3{ width:27%; height:24px; line-height:24px; padding:1px 0 10px 10px; font-weight:bold;}
.about img{ float:left; padding-top:8px;}
.about p{ float:left; width:27%; padding:0 0 0 10px; line-height:20px; text-indent:2em;}
.about p a{ color:#ff9e1f}
.about p a:hover{ color:#70B607}

.new{ width:27%; height:230px;  float:left; padding-left:25px;}
.new h3{ width:27%; height:24px; line-height:24px; padding:1px 0 10px 0px; font-weight:bold;}
.new ul{ /*width:285px;*/ overflow:hidden;}
.new ul li{ height:24px; line-height:24px; }
.new ul li a{ padding-left:8px; line-height:26px;}

.Contact{ width:28%; float:left; height:230px; padding-left:25px;}
.Contact h3{ width:28%; height:24px; line-height:24px; padding:1px 0 10px 0px; font-weight:bold;}
.Contact p{ color:#ff9e1f; line-height:24px;}
.tel{ line-height:24px;}
.qq{ height:22px; padding-top:5px;}
.qq a{ padding-right:10px;}

.jieshao {
    margin-left: 4px;
    padding: 0px 0 0px 6px;
    width: 312px;
}
.jieshao li {
    float: left;
    line-height: 24px;
    margin-right: 28px;
    padding-top: 67px;
    text-align: center;
    width: 75px;
}
.footer{
    width: auto;
    height:130px;
    background-color: #2F4056;
    text-align:center;
    line-height: 60px;
}
.coent{
    width: auto;
    height:auto;
}
img{
    width: 100%;
    height:100%;
}
.adress{
    color:#009E94;
}


.layui-nav .layui-nav-item{
    margin-left: 7%;
}

.list_main{
    margin: 25px;
    width: 60%;
    margin-left: 20%;
}

.index_menu{
    width: 100%;height: 230px;
}
.index_menu_top{
    width: 100%;
    height: 5px;
    background-color: rgba(231,0,18,1);
}
.index_menu_content{
    width: 100%;
    height: 140px;
}

.index_menu_content .div_left{
    width: 20%;
    height: 120px;
    margin-left: 3%;
    margin-top: 2%;
}

.index_menu_bottom{
    width: 100%;
    height: 80px;
    background-image: url('/image/index/nav_bg_02.jpg');
    line-height: 55px;
}
.index_menu_bottom ul{
    width: 90%;
    margin-left: 14%;
}
.index_menu_bottom ul li{
    list-style: none;
    float: left;
    width: 12%;
    text-align: center;

}
.index_menu_bottom ul li a div {
    height: 55px;
    border-bottom-left-radius:0.5em;
    border-bottom-right-radius:0.5em;
    border-top-left-radius:0.5em;
    border-top-right-radius:0.5em;
}
.index_menu_bottom ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight:bold;
}
.index_menu_bottom ul li a div:hover{
    background-color: rgba(231,0,18,1);
    color: #0C0C0C;
}

.footer_new{
    width:100%;
    height: 300px;
    background-image: url('/image/index/ftbg.jpg');
}
.index_footer{
    position:relative;
    top: 84px;
}
.div_dress_img{
    top: 30px;
    margin-left: 38%;
    width: 22px;
    height: 29px;
}
.div_dress{
    top: 5px;
    margin-left: 40%;
    font-size: 16px;
    color: #FBFBFB;
}
.div_phone_img{
    top: 150px;
    margin-left: 60%;
    width: 31px;
    height: 32px;
}
.div_phone{
    top: 140px;
    margin-left: 65%;
    font-size: 32px;
    color: #FBFBFB;
}
.div_QRcode{
    width: 120px;
    height: 120px;
    margin-left: 84%;
    top:6px;
}
.div_QRcode_text{
    margin-left: 84%;
    font-size: 14px;
    color: #FBFBFB;
    top:16px;
}
.div_corporatename{
    top: 155px;
    margin-left: 63%;
    font-size: 16px;
    color: #FBFBFB;
}
.index_footer h3{
    margin-left: 8%;
    float: left;
}
.index_footer h3 a{
    color: #ffffff;
}
.index_footer_div{
    width: 19px;
    height: 2px;
}
.title{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.show_time{
    margin-top: 30px;
    margin-right:150px;
    text-align:right;
    font-size: 18px;
}
.content_{
    margin: 25px;
    width: 60%;
    margin-left: 20%;
}
.content_item1 {
    float: left;
    font-size: 20px;
}
.content_item2 {
    float: right;
}
.content_item2_item{
    color:dodgerblue;
}
.content_page{
    margin-top: 100px;
    text-align: center;
}
.content_title{
    margin-left: 140px;
}
.content_time{
    float:right;
    margin-right: 100px;
}
.recreits_div{
    height: 1260px;
}
.recreits_li{
    height: 188px;
    margin-left: 10%;
    border-bottom: 1px dashed #D4D4D4;
    line-height: 22px;
    width: 80%;
    margin-top: 30px;
}
.recreits_liUnborder{
    height: 188px;
    margin-left: 10%;
    line-height: 22px;
    width: 80%;
    margin-top: 30px;
}
.recreits_li_div{
    float: left;
    width: 52px;
    height: 50px;
    background-image: url(/image/recreit/recreits_image.jpg);
    background-repeat: no-repeat;
}
.recreits_li_span{
    color: white;
    height: 80px;
    font-size: 23px;
    margin: 27%;
    /* margin-top: 42%; */
    line-height: 52px;
}
.recreits_li_b{
    margin-left: 30px;
}
.layui-text .imgDiv{
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 20px;
}
.product_{
    width : 100%;
}
.product_ .product_main{
    width : 100%;
    height:150px;
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    background-color: #e2e2e2;
    margin-top: 10px;
}
.product_ .product_img{
    width : 12%;
    height:100px;
    float: left;
}
.product_ .product_text{
    width: 78%;
    height: 100px;
    float: right;
    line-height: 190%;
    margin: 2%;
}

.index_abous{
    height: 600px;
    width: 84%;
    margin: 0 auto;
}
.index_abous_titleTop{
    width: 362px;
    height: 32px;
    left:38%;
    padding-top: 65px;
    position: absolute;
}
.index_abous_titlebottom{
    width: 362px;
    height: 32px;
    left:38%;
    padding-top: 105px;
    position: absolute;
}
.index_abous_image01{
    width: 438px;height: 257px;position: absolute;top:720px;left:760px;z-index: 99;
}
.index_abous_image02{
    width: 56px;height: 103px;position: absolute;top: 1058px;top: 206px;left: 13%;
}
.index_abous_backagecolor{
    background-color:rgba(243,243,243,1);position: absolute;top: 858px;height: 255px;width: 100%;margin-left: -8%;
}
.fontColor{
    color: #000000;
}
.fontSize{
    font-size: 20px;
}
.index_abous_contentTitle{
    position: absolute;
    top: 720px;
    z-index: 108;
}
.index_abous_content{
    position: absolute;
    top: 752px;
    z-index: 108;
    width: 566px;
    height: 313px;
}

.index_product{
    height: 1050px;
    width: 84%;
    margin: 0 auto;
}
.index_product_titleTop{
    width: 332px;
    height: 34px;
    left:38%;
    padding-top: 65px;
    position: absolute;
}
.index_product_titlebottom{
    width: 362px;
    height: 32px;
    left:38%;
    padding-top: 105px;
    position: absolute;
}

.index_news{
    height: 490px;
    width: 100%;
    background-color:rgba(243,243,243,1);
}
.index_newsDiv{
    width: 80%;
    margin: 0 auto;
}
.index_news_titleTop{
    width: 250px;
    height: 42px;
    left:40%;
    padding-top: 65px;
    position: absolute;
}
.index_news_titlebottom{
    width: 362px;
    height: 32px;
    left:36%;
    padding-top: 105px;
    position: absolute;
}
.index_product_contentTitle{
    width: 84%;
    height: 40px;
    position: absolute;
    padding-top: 200px;
}
.e_link{
    text-align: center;
}
.index_product_contentTitle_div{
    z-index: 100;
    width: 300px;height: 40px;border-bottom: 6px solid #f3f3f3;float: left;
}
.index_product_contentTitle_div:hover{
    border-bottom: 6px solid #e70012;
}
.activeColor{
    border-bottom: 6px solid #e70012;
}
.index_product_content{
    position: absolute;top: 1396px;width: 84%;
}
.industry a{
    display: block;
    width: 130px;
    height: 36px;
    line-height: 36px;
    color: #FFF;
    font-size: 14px;
    background: #e70012;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
}
.industry a:hover{

    background: #000000;
}
.industry{
    opacity :0;
    position: absolute;
    top: 0px;
}
.industry h3{
    font-size: 18px;
    color: #333;
    line-height: 42px;
    font-weight: normal;
    padding-top: 10px;
}
.industry p {
    font-size: 14px;
    color: #999;
    line-height: 24px;
}
.active{
    display: block;
}

.index_newsCountent{
    position: absolute;
    top: 2350px;
    height: 300px;
    line-height: 50px;
    width: 84%;
}
.index_newsCountent ul{
    width: 420px;
    margin: 0 auto;
}

.index_bottom01{
    height: 425px;
    width: 84%;
    margin: 0 auto;
    padding-top: 40px;
}
.index_bottom01Title{
    color: #e70012;font-size: 18px;    position: absolute;
    top: 6px;
    left: 60px;
}
.index_bottom01Content{
    position: absolute;width:480px;height: 280px;padding-top: 25px;left: 30px;line-height: 30px;
}

.index_bottom02Title{
    width:549px; height: 38px; background-image: url('/image/index/index_50.jpg')
}

.common_line-hei{
    line-height:2.2;
}
.FontColor_444444{
    color:#444444;
}
.common_font_size14{
    font-size: 14px;
}

