
/* 以下 关于我们、最新动态、联系我们*/
.content{ width:auto; height:240px; margin-top: 10px; margin:0 auto; overflow:hidden;}
.about{ width:27%; height:230px; float:left;}
.about h3{ width:27%; height:24px; line-height:24px; padding:1px 0 10px 10px; font-weight:bold;}
.about img{ float:left; padding-top:8px;}
.about p{ float:left; width:27%; padding:0 0 0 10px; line-height:20px; text-indent:2em;}
.about p a{ color:#ff9e1f}
.about p a:hover{ color:#70B607}

.new{ width:27%; height:230px;  float:left; padding-left:25px;}
.new h3{ width:27%; height:24px; line-height:24px; padding:1px 0 10px 0px; font-weight:bold;}
.new ul{ /*width:285px;*/ overflow:hidden;}
.new ul li{ height:24px; line-height:24px; }
.new ul li a{ padding-left:8px; line-height:26px;}

.Contact{ width:28%; float:left; height:230px; padding-left:25px;}
.Contact h3{ width:28%; height:24px; line-height:24px; padding:1px 0 10px 0px; font-weight:bold;}
.Contact p{ color:#ff9e1f; line-height:24px;}
.tel{ line-height:24px;}
.qq{ height:22px; padding-top:5px;}
.qq a{ padding-right:10px;}

.jieshao {
    margin-left: 4px;
    padding: 0px 0 0px 6px;
    width: 312px;
}
.jieshao li {
    float: left;
    line-height: 24px;
    margin-right: 28px;
    padding-top: 67px;
    text-align: center;
    width: 75px;
}
.footer{
    width: auto;
    height:130px;
    background-color: #2F4056;
    text-align:center;
    line-height: 60px;
}
.coent{
    width: auto;
    height:auto;
}
img{
    width: 100%;
    height:100%;
}
.adress{
    color:#009E94;
}


.layui-nav .layui-nav-item{
    margin-left: 7%;
}

.list_main{
    margin: 25px;
    width: 60%;
    margin-left: 20%;
}

.layui-text .imgDiv{
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 20px;
}
