<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>
    <meta name="keywords" content="融鑫源（北京）文化科技有限公司">
    <meta name="author" content="融鑫源">
    <meta name="copyright" content="融鑫源">
    <meta name="date" content="2018年1月">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=1440">
    <link rel="icon" href="/image/ronxinyuan.ico">
    <link rel="stylesheet" href="/css/layui.css"  media="all">
    <link rel="stylesheet" href="/css/index.css">
    <style>
        .layui-text ul li{
            list-style-type: none;
            height: 60px;
        }
    </style>
</head>
<body>
<div class="index_menu" id="menu">
</div>
<div class="coent">
    <div style="width: auto;height: 350px;">
        <img src="/image/index/ab1.jpg">
    </div>
    <div class="content_">
        <span style="float: left;font-size: 20px;"><b>关于我们</b></span> <span style="float: right;"><span style="color:dodgerblue;">当前位置</span>：主页 > 关于我们 ></span>
        <br/><br/>
        <hr class="layui-bg-gray">
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">公司概述</h3>
                    <p style="background-color: #ffffcc;">
                            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;融鑫源（北京）文化科技有限公司位于北京中关村高新技术开发区，是一家快速发展中的高科技企业。公司致力于文化产业产品、营养系列产品；先进网络产品研究、设计、开发、生产及销售；创建教育、金贸经营共同体。 
                          <br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;公司以“科学发展、自主创新”为发展理念，致力不断增强核心技术及产品的自主研发能力。公司部分科研项目获得政府专项基金发展支持，部分产品荣获国家专利。同时，公司与高等院校、科研院所及实验室等建立产学研合作关系，进一步提高了核心技术原创能力和科研成果转化能力；通过国际合作引进和消化先进技术及二次创新，不断开发出具有自主知识产权的新技术、新产品、新服务。  
                          <br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;公司始终坚持“质量第一、顾客至上、持续改进、精益求精”。不断满足用户和市场对产品质量不断提升的需求。     
                           <br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;公司始终坚持“人才为本、诚信立业”的经营原则，荟萃业界精英，将国外先进的信息技术、管理方法及企业经验与公司的具体实际相结合，为公司提供全方位的解决方案，提高企业管理水平和生产能力，使公司各项业务规范化、制度化、流程化，实现了公司办公的网络化，业务工作的流程化；极大的提高了公司信息的传达和共享，极大地提高了运营管理效率。使公司在激烈的市场竞争中始终保持竞争力，实现企业快速、稳定地发展。 
                          <br/>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;公司在全国各地设有分支机构和战略合作机构。
                    </p>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">核心人物</h3>
                    <table style="border: 0px;">
                        <tr>
                            <td width="40%;" height="360px;" style="text-align: center;">
                                <img src="/image/DSZ.jpg">
                                <br/><b>唐均衍君大师
                                </b>
                                <br/><b>董事长</b>
                            </td>
                            <td style="background-color: #ffffcc;">
                                <em style="font-weight: bold;">董事长寄语：</em><br/>
                                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;我于2016年创办湖南药食同源健康产业有限公司，初衷很简单，就是希望通过我们的智慧和想法，所见所学、所想所用。我 9岁入寺，幼小随师，勤修苦行，秉承师祖虚云、师父满觉教诲，弘扬佛法。主张精进修为佛学，也要自食其力，应以佛心善缘力所能及地亲为或协助他人从事必要的生产经营活动，造福社会，造福苍生，这本身也就是自度而度人的佛学修为，长期靠强记硬背授承佛道悟修，传承师祖虚云和尚，师父上满下觉的佛门医术。经过近十年的刻苦钻研和事业发展，终有所成；我秉承师恩，当以普惠民生健康为己任。现于北京成立融鑫源（北京）文化科技有限公司，整合最先进资源，以创新求发展，不断吸纳有识之士，到如今成为拥有两百余位同仁的企业，并快速发展壮大。我所理解的事业就是和志同道合的人在一起，一个人能走多远?要看他有谁同行。在企业发展的道路上，我越来越意识到人才的重要性。我们不懈地引进人才，不断地激励他们成长与发展，逐步完善公司人才战略。我们一直都在努力打造领先行业的人才培养及干部储备模式。我们坚持共同的价值观和愿景，也是每一位员工努力拼搏的动力源泉。在这十年的摸索中，我愈加坚定，社会的和谐与健康发展更需要我们有责任，有担当。我一直在努力坚持：以技术为先导，整合优势资源，不断创新产品的理念，并通过创新系统性的解决方案，满足各类客户在不同情境下对增强免疫力和营养健康的个性化需求，进而弘扬美德、惠及社会。
                                融鑫源（北京）文化科技有限公司的成长，离不开每一位公司员工的辛勤和付出，离不开各级政府部门、行业领导、合作伙伴、社会各界朋友的关心、支持和帮助，在此，我致以最衷心的感谢！
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">企业文化</h3>
                   <div>
                       <div>
                           <ul style="font-size: 16px;">
                               <li style="margin-left: 4%;font-size: 20px;">
                                   <div class="layui-text imgDiv"><img src="/image/about_us/about_us2.png" width="100%" height="100%"/></div>

                                   <span>诚信铸就品质</span><br/>
                                   <span>创新引领未来</span>
                               </li>
                               <li style="margin-left: 10%;">
                                   <div class="layui-text imgDiv"><img src="/image/about_us/about_us3.jpg" width="100%" height="100%"/></div>
                                   <span>长远发展 永续经营，奉献社会。</span>
                               </li>
                               <li style="margin-left: 16%;">
                                   <div class="layui-text imgDiv"> <img src="/image/about_us/about_us4.jpg" width="100%" height="100%"/></div>
                                   <span>建设客户满意的优质工程，创造美好和谐的社会环境；完善健康安全的保障体系，促进企业管理的持续改进。</span>
                               </li>
                               <li style="margin-left: 22%;">
                                   <div class="layui-text imgDiv"> <img src="/image/about_us/about_us5.jpg" width="100%" height="100%"/></div>
                                   <span>诚信经营、自主创新、弘扬美德、惠及社会。</span>
                               </li>
                               <li style="margin-left: 28%;">
                                   <div class="layui-text imgDiv"> <img src="/image/about_us/about_us6.jpg" width="100%" height="100%"/></div>
                                   <span>汇智崇德，传播文明，二线为一线服务，全体为客户服务。</span>
                               </li>
                           </ul>
                       </div>
                   </div>
                </div>
            </li>
        </ul>
        <div>

        </div>
    </div>
</div>
<div class="footer_new" id="footer"></div>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#footer').load('/footer.html');
        $('#menu').load('/menu.html');
    })
</script>
</body>
</html>