<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>融鑫源（北京）文化科技有限公司</title>
    <meta name="keywords" content="融鑫源（北京）文化科技有限公司">
    <meta name="author" content="融鑫源">
    <meta name="copyright" content="融鑫源">
    <meta name="date" content="2018年1月">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=1440">
    <link rel="icon" href="/image/ronxinyuan.ico">
    <link rel="stylesheet" href="/css/layui.css"  media="all">
    <link rel="stylesheet" href="/css/index.css">
    <script>
       /* if(/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){
            window.location.href = "/index_mobile";
        }*/
    </script>
</head>
<body>
<!-- 菜单界面模块 -->
<div class="index_menu" id="menu">
</div>
<!-- 首页轮播图模块 -->
<div class="layui-carousel" id="test1">
    <div carousel-item id="imageList">
        <img th:src="@{${path}}" th:each="path:${listImage}">
    </div>
</div>
<!-- 公司简介模块 -->
<div class="index_abous">
    <div class="index_abous_titleTop">
        <img src="/image/index/index_abous01.jpg"/>
    </div>
    <div class="index_abous_titlebottom">
        <p style="text-align:center">
            <span class="fontColor fontSize">走进融鑫源</span>
        </p>
    </div>
    <div class="index_abous_contentTitle">
        <p>
            <span class="fontColor fontSize">公司简介</span>
        </p>
    </div>
    <div class="index_abous_content">
        <div><p><span class="FontColor_444444 common_line-hei common_font_size14">
                <span style="color:#e70012"><span>　　融鑫源（北京）文化科技有限公司</span></span>
                <span><span>位于北京中关村高新技术开发区，是一家快速发展中的高科技企业。公司致力于文化产业产品、营养系列产品；先进网络产品研究、设计、开发、生产及销售；创建教育、金贸经营共同体。
                </span>
                </span>
            </span>
            </p>
            <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
            <p><span style="line-height:2.2"><span class="FontColor_444444"><span style="font-size:14px">　　公司以“科学发展、自主创新”为发展理念，致力不断增强核心技术及产品的自主研发能力。公司部分科研项目获得政府专项基金发展支持，部分产品荣获国家专利。公司始终坚持“质量第一、顾客至上、持续改进、精益求精”。不断满足用户和市场对产品质量不断提升的需求...</span></span></span></p>
        </div>
    </div>
    <div class="index_abous_image01">
        <img src="/image/index/index_abous02.png">
    </div>

    <div class="index_abous_backagecolor">
        <a href="/about_us">
            <div class="index_abous_image02">
                <img src="/image/index/index_abous03.jpg">
            </div>
        </a>
    </div>
</div>
<!-- 产品模块 -->
<div class="index_product">
    <div class="index_product_titleTop">
        <img src="/image/index/index_product01.jpg"/>
    </div>
    <div class="index_product_titlebottom">
        <p style="text-align:center">
            <span class="fontColor fontSize">集团产业</span>
        </p>
    </div>
    <div class="index_product_contentTitle">
        <a data-default class="e_link">
            <div class="index_product_contentTitle_div">
                <span class="fontColor fontSize">酒业</span>
            </div>
        </a>
    </div>
    <div class="index_product_content">
        <div class="industry">
            <p style="height: 530px"><img src="/image/index/index_product02.jpg"/></p>
            <h3>酒业</h3>
            <p>融鑫源集团以“医疗保健”为目标，全力推出一种治疗多种疾病的营养酒 -- -- 血菩提。</p>
            <a href="/product/about_product">查看详情</a>
        </div>
    </div>
</div>
<!-- 新闻模块 -->
<div class="index_news">
    <div class="index_news index_newsDiv">
        <div class="index_news_titleTop">
            <img src="/image/index/index_news01.jpg"/>
        </div>
        <div class="index_news_titlebottom">
            <p style="text-align:center">
                <span class="fontColor fontSize">集团新闻</span>
            </p>
        </div>
        <div class="index_newsCountent">
            <ul>
                <li th:each="newsList:${newsList}">
                    <a target="_blank" class="span01" th:href="${newsList.newsUrl}" th:text="${newsList.newsName}">国家可持续发展议程创</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 公司动态模块 -->
<div class="index_bottom01">
    <div style="position: absolute;">
        <div class="index_bottom02Title"></div>
        <div><p><span class="index_bottom01Title">公司动态</span></p></div>
        <div class="index_bottom01Content">
             <ul>
                <li th:each="prod:${radioBroadcast}">
                    <a th:href="@{${prod.url}+'?id='+${prod.id}}" th:title="${prod.title}" th:text="${prod.title}"></a>
                    <span style="float:right;color:#305798;" th:text="'('+${prod.createTime}+')'"></span>
                </li>
             </ul>
        </div>
    </div>
    <div style="position: absolute;left: 711px;">
        <div class="index_bottom02Title"></div>
        <div><p><span class="index_bottom01Title">相关链接</span></p></div>
    </div>
</div>
<!-- 页脚模块 -->
<div class="footer_new" id="footer"></div>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/layui.js" charset="utf-8"></script>
<script>
    $(document).ready(function(){
        $('#footer').load('/footer.html');
        $('#menu').load('/menu.html');
    });
    (function () {
        var old=null;
        var oldhidder=null;
        $(".index_product_contentTitle_div").each(function(i,element){
            element.addEventListener('click', function(){
                if(old!=null){
                    old.removeClass('activeColor');
                }
                var el = $(this);
                old = el;
                el.addClass('activeColor');
                if(oldhidder!=null){
                    oldhidder.css("opacity","0");
                }
                $(".industry").eq(i).css("opacity","1");
                oldhidder = $(".industry").eq(i);
            });
        });
        $(".index_product_contentTitle_div").eq(0).click();
    }())
</script>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '100%' //设置容器宽度
            ,arrow: 'none' //始终显示箭头
            ,anim: 'updown' //切换动画方式
            ,height:'300px'
        });
    });
</script>
</body>
</html>