<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>融鑫源（北京）文化科技有限公司</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="app-mobile-web-app-capable" content="yes">
    <meta name="keywords" content="融鑫源（北京）文化科技有限公司">
    <meta name="author" content="融鑫源">
    <meta name="copyright" content="融鑫源">
    <meta name="date" content="2018年1月">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/css/index_mobile.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="mobile/css/amazeui.slick.min.css">
    <script src="mobile/js/slick.min.js"></script>
    <script>
        $(function(){
            $('.slick').slick({
                dots: true
            });
        });
    </script>
</head>
<body>

<div data-role="page" id="pageone">
    <div data-role="header">
            <ul class="mobile_menu">
                <li style="width: 14%;"><a href="/index_mobile">主页</a></li>
                <li style="width: 19.33%;"><a href="#">关于我们</a></li>
                <li style="width: 14%;"><a href="#">产品</a></li>
                <li style="width: 19.33%;"><a href="#">商业伙伴</a></li>
                <li style="width: 19.33%;"><a href="#">新闻中心</a></li>
                <li style="width: 14%;"><a href="#">广播</a></li>
            </ul>
    </div>

    <div data-role="main" class="ui-content">
        <div class="slick">
            <div th:each="path:${listImage}"><a href="#"><img th:src="@{${path}}" width="100%" alt=""></a></div>
        </div>
        <hr width="90%"/>
        <div style="text-align: center;margin-top: 10px;width: 90%">
            <p style="text-align: left;width: 90%"><b>关于我们</b></p>
            <img src="/image/jianjie/1-1FH6104QT32.jpg" alt="关于我们">
        </div>
        <hr width="90%"/>
        <div class="new">
            <h2 style="padding-bottom: 20px;">
                <a href="/plus/list" style="color:#305798;font-size:16px;">广播</a>
                <a href="/plus/list" style="float: right;font-size: 13px; font-weight:normal;">more+</a>
            </h2>
            <ul>
                <li th:each="prod:${radioBroadcast}">
                    <a th:href="@{${prod.url}+'?id='+${prod.id}}" th:title="${prod.title}" th:text="${prod.title}"></a>
                    <span style="float:right;color:#305798;" th:text="'('+${prod.createTime}+')'"></span>
                </li>
            </ul>
        </div>
        <hr width="90%"/>
        <p>我的内容..</p>
        <p>我的内容..</p>
        <p>我的内容..</p>
    </div>

    <div data-role="footer">
        <h1><span class="adress">北京市西城区月坛北小街13号北楼2楼8215 &nbsp;&nbsp;&nbsp;010-68036580</span></h1>
    </div>
</div>

</body>
</html>
