<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>广播</title>
    <meta name="keywords" content="融鑫源（北京）文化科技有限公司">
    <meta name="author" content="融鑫源">
    <meta name="copyright" content="融鑫源">
    <meta name="date" content="2018年1月">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=1440">
    <link rel="icon" href="/image/ronxinyuan.ico">
    <link rel="stylesheet" href="/css/layui.css"  media="all">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="index_menu" id="menu"></div>
<div class="coent">
    <div style="width: auto;height: 350px;">
        <img src="/image/index/ab1.jpg">
    </div>
    <div class="list_main">
        <span style="float: left;font-size: 20px;"><b>广播内容</b></span> <span style="float: right;"><span style="color:dodgerblue;">当前位置</span>：主页 > 广播 > 广播内容 ></span>
        <br/><br/>
        <hr class="layui-bg-gray">
        <p th:text="${radioBroadcast.title}" class="title"></p>
        <div th:utext="${radioBroadcast.content}"></div>
        <div th:text="${radioBroadcast.createTime}" class="show_time"></div>
    </div>
</div>
<div class="footer_new" id="footer"></div>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#footer').load('/footer.html');
        $('#menu').load('/menu.html');
    })
</script>
</body>
</html>